{% extends "__base__.html" %}
{% load static %}
{% block content %}



<div class="card">
    <div class="card-body">
      <h2>Nazwa sali: {{ room.name }}</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="reservation-date">Data rezerwacji</label>
          <input type="date" id="reservation-date" name="reservation-date" max="3000-12-31" min="1000-01-01" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Komentarz</label>
          <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
      </form>
    </div>
</div>
  

{% include "footer.html" %}


{% endblock content %}